.css-sghohy-MuiButtonBase-root-MuiButton-root{
    font-size: 1.2rem !important;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 1.5rem !important;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input{
    font-size: 1.2rem !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 1.5rem !important;
}
.css-66dh3a-MuiInputBase-input-MuiInput-input{
    font-size: 1.2rem !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #5a5959 !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #334935 !important;
    transition: 0.5s background-color ease-in-out;
}